@tailwind base;
@tailwind components;
@tailwind utilities;


.top {
    background: linear-gradient(#2f3041d7, #2f3041d7), url('../public/images/background-header-scaled.jpg');
    background-position: center center;
    background-repeat: no-repeat;
}

/* ! ham menu styles */
.bar {
    position: relative;
    width: 30px;
    height: 3px;
    background-color: #eee;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.bar::before,
.bar::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
    transition: 0.5s;
}

.bar::before {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.bar::after {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}



.bar.active {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    background-color: transparent;
}

.bar.active::before {
    transform: translateY(0) rotate(45deg);
    -webkit-transform: translateY(0) rotate(45deg);
    -moz-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    -o-transform: translateY(0) rotate(45deg);
}

.bar.active::after {
    transform: translateY(0) rotate(-45deg);
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
}


/* ! loader styles */
.arcade-5 {
    width: 90px;
    height: 24px;
    padding: 2px 0;
    display: flex;
    animation: a5-0 3s infinite steps(6);
    background:
        linear-gradient(#000 0 0) 0 0/0% 100% no-repeat,
        radial-gradient(circle 3px, #eeee89 90%, #0000) 0 0/20% 100% #000;
    overflow: hidden;
}

.arcade-5::before {
    content: "";
    width: 20px;
    transform: translate(-100%);
    border-radius: 50%;
    background: #ffff2d;
    animation:
        a5-1 .25s .153s infinite steps(5) alternate,
        a5-2 3s infinite linear;
}

@keyframes a5-1 {
    0% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0, 0 0, 0 100%, 100% 100%, 100% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 100% 65%, 100% 0, 0 0, 0 100%, 100% 100%, 100% 35%)
    }
}

@keyframes a5-2 {
    100% {
        transform: translate(90px)
    }
}

@keyframes a5-0 {
    100% {
        background-size: 120% 100%, 20% 100%
    }
}